* {
    margin: 0;
    padding: 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
html body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
:root{
    font-size: 16px;
}
p {
    font-family: monospace;
}

/* Hier handelt es sich um mein Template - Grid */
#wholeContainer {
    height: 100%;
    width: 100%;
    position: relative;

    display: grid;

    grid-row-start: 1;
    grid-column: colStart / colEnd;

    grid-template-columns: [colStart col1]12.5% [col2]12.5%  [col3]12.5%  [col4]12.5%  [col5]12.5% [col6]12.5% [col7]12.5% [col8]12.5%  [colEnd];
    grid-template-rows: [header]80px [gal1]400px  [gal2]400px [afteral footer]200px;


}

/* ist das <div> welches die container 1+2 umfasst */
#codeEditor {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: colEnd;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Konsole */
.container1 {
    float: right;
    height: 259.85%;
    width: calc(95% - 1px);
    z-index: 9998;

    background-color: rgb(43, 43, 43);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: colEnd;
}

/* Konsolennavigation */
.container2 {
    width: 5%;
    border-right: 1px solid rgb(66, 66, 66);
    border-left: 1px solid rgb(43, 43, 43);
    border-bottom: 1px solid rgb(43, 43, 43);
    z-index: 9999;

    background-color: rgb(51, 51, 51);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.container2 > p {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 8px;
    color: rgb(99, 99, 99);
    padding-bottom: 2.5%;

}

/* Header */
.container3 {
    border-bottom: 1px solid rgb(43, 43, 43);

    background-color: rgb(66, 66, 66);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: colEnd;
}

.container3 > p {
    color: #ffffff;
    padding-left: 10px;
    display: inline-block;
}

/* Dateipfad */
.filePath{
    grid-row-start: 2;
    grid-row-end: end;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container4 {
    height: 100%;
    width: calc(90% - 1px);
    float: right;

    background-color: rgb(66, 66, 66);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container4 > div{
    color: #ffffff;
    font-size: 1.0rem;
}
/* Dateipfad - linke Spalte */
.container5{
    height: 100%;
    width: 10%;

    border-right: 1px solid rgb(43, 43, 43);

    background-color: rgb(66, 66, 66);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.container5 > p{
    color: #ffffff;
    font-size: 1.0rem;
    transform: rotate(270deg);
    display: inline-block;
}

/* Footer */
.container6 {
    height: 100%;
    width: 97.5%;




    background-color: rgb(66, 66, 66);
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: colEnd;
}


/*
*Der Start*
Styling der Inhalte im #CodeEditor
*/

.container1 > div > p {
    display: inline-block;
}

.container1 > div > div > p {
    display: inline-block;
}

.function {
    color: #808080;
}

.function-name {
    color: #add8e6;
}

.function-brackets {
    color: #ffff00;
}

.fullBrackets {
    color: #ffa500;
    cursor: pointer;
}

.openBracket {
    color: #ffa500;
    cursor: pointer;
}

.closeBracket {
    color: #ffa500;
    cursor: pointer;
}


/*
-Der Start-
Hier wird das Dropdown-Menu angepasst!
 */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 9989;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*
-Das Ende-
Hier wird das Dropdown-Menu angepasst!
 */


































